.list-social {
  display: flex;
  justify-content: flex-start;
  width: auto;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.1rem;
  color: var(--color-base-accent-2);
  background-color: var(--color-base-background-2);
  border-radius: 50%;
  margin-right: 10px;
}

.list-social__link:hover {
  color: var(--color-base-background-2);
  background-color: var(--color-base-accent-1);
}
