.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 58rem;
}
.newsletter__wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  max-width: 580px;
  margin-right: auto;
}
.newsletter__wrapper .newsletter__inner {
  display: flex;
  gap: 17px;
  align-items: center;
}
.newsletter__wrapper .inline-richtext,
.get_app .App_title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  line-height: 27px;
  letter-spacing: 0.3px;
}
.footer-block__newsletter #ContactFooter {
  display: none;
}
.get_app {
  width: 50%;
  position: relative;
  padding: 30px 45px;
  display: inline-block;
  overflow: hidden;
  float: none;
  text-align: left;
  vertical-align: top;
}
.App_subtitle {
  font-size: 1.4rem;
}
.app_image_1,
.app_image_2 {
  display: inline-block !important;
  float: none;
  width: 122px;
  height: 42px;
  background-repeat: no-repeat;
  margin-inline-end: 10px;
  border: 1px solid var(--color-base-accent-2);
  border-radius: 5px;
}
.get_app .text {
  display: inline-block;
  vertical-align: top;
}
.app-icon {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 24px;
}
.newsletter__wrapper > div {
  width: 100%;
}
.newsletter-form__field-wrapper {
  width: 100%;
}
.newsletter-form__field-wrapper .field__input {
  background-color: var(--color-base-background-1);
  color: var(--color-base-accent-2);
  height: 4.5rem;
  border: 2px solid var(--color-base-background-1);
}
.newsletter-form__field-wrapper .field__label {
  color: var(--color-base-text);
  line-height: 25px;
}
.newsletter-form__field-wrapper .field {
  z-index: 0;
  display: flex;
  align-items: center;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 100%;
  max-width: max-content;
  height: 100%;
  z-index: 2;
  position: relative;
  padding: 14px 22px;
  border-radius: var(--border-radius);
  background-color: var(--color-base-background-1) !important;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 0 10px;
  color: var(--color-base-accent-2) !important;
  line-height: 17px;
  font-family: inherit;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}
@media screen and (max-width: 1500px) {
  .get_app {
    width: 55%;
    padding: 30px 25px 30px 35px;
  }
}
@media screen and (max-width: 1269px) {
  .newsletter__wrapper .newsletter__inner {
    gap: 15px;
  }
  .newsletter__wrapper .newsletter__inner img {
    width: 56px;
  }
}

@media screen and (max-width: 989px) {
  .newsletter__wrapper .newsletter-form__field-wrapper {
    max-width: 100%;
  }
  .newsletter__wrapper {
	max-width: 450px;
  }
}
@media screen and (max-width: 749px) {
  .newsletter__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .newsletter__wrapper > div {
    width: 100%;
  }
}
@media screen and (max-width: 650px){
  .newsletter-form__field-wrapper .field {
	flex-direction: column;
	gap: 10px;
	align-items: start;
  }
  .newsletter-form__button {
	margin: 0;
  }
  .newsletter-form {
	max-width: 32rem;
  }
  .newsletter__wrapper .inline-richtext, .get_app .App_title {
	font-size: 20px;
	line-height: 25px;
  }
}
@media screen and (max-width: 479px) {
  .newsletter > .content-container {
	background-position: center left !important;
  }
  .newsletter-form__field-wrapper .field {
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter-form__button {
    width: min-content;
  }
}
