.tabs-content {
  width: 33.33%;
  float: left;
  padding: 0 25px;
  min-width: 400px;
}
.product_tab-block {
  display: flex;
  margin: 0 -25px;
  overflow-x: auto;
  scrollbar-width: thin;
  flex-wrap: nowrap;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.product_tab-block .variant-links{
  display: none;
}
.product_tab-block .card__information{
  padding-top: 0;
}
.product_tab-block .product-hover{
  display: none;
}
.product_tab-block .quick-add__submit{
  background: transparent;
  color: var(--color-base-accent-2);
  padding: 5px 0 0 0;
  min-width: max-content;
  width: auto;
  min-height: auto;
  text-decoration: underline;
}
.product_tab-block .quick-add__submit:hover{
  background: transparent;
  color: var(--color-base-accent-1);
  text-decoration: none;
}
.product_tab .collection .slider.slider--tablet{
  margin-bottom: 0;
}
.product_tab .slider--tablet::after {
	display: none;
} 
.tabs-content .card__inner {
  width: 40%;
  float: left;
}
.tabs-content .card__content {
  width: 60%;
  float: right;
}
.tabs-content .card,
.tabs-content .card:not(.ratio) {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tabs-content ul {
  padding: 0;
}
.tabs-content a {
  color: currentColor;
  text-decoration: none;
}
.tabs-content .title {
  margin-top: 0;
}
.tabs-content li.slide-item {
  padding-block: 10px;
}
@media screen and (max-width: 989px) {
  /* .product_tab-block {
    margin: 0;
  }
  .product-tab {
    margin: 0 -25px;
  } */
}
@media screen and (max-width: 749px) {
  .tabs-content {
	min-width: 350px;
  }
  .tabs-content .card__inner {
    width: 36%;
  }
  .tabs-content .card__content {
    width: 64%;
  }
  .product_tab-block {
	margin: 0 -15px;
  }
  .tabs-content {
  	padding: 0 15px;
  }
}

/* @media screen and (max-width: 650px) {
  .product_tab-block {
    margin: 0;
  }
  .tabs-content {
    width: 100%;
  }
  .tabs-content .card__inner {
    width: 22%;
  }
  .tabs-content .card__content {
    width: 78%;
  }
  .product-tab .collection .slider.slider--tablet {
    margin-bottom: 0;
  }
} */
/* @media screen and (max-width: 575px) {
  .tabs-content .card__inner {
    width: 30%;
  }
  .tabs-content .card__content {
    width: 70%;
  }
} */
@media screen and (max-width: 479px) {
  .tabs-content {
	min-width: 310px;
  }
}
